device_name = "canimu"
software_version = "v0.0.1"
hardware_version = "rev1"
heartbeat_period = 1000
autostart = "enabled"

[identity]
vendor_id = 0xCAFE
product_code = 1033
revision_number = 1

[pdos]
num_tpdo = 6
num_rpdo = 0

# ICM 20948 gyros
[pdos.tpdo.0]
enabled = true
cob_id = 0x200
add_node_id = false
transmission_type = 254
mappings = [
    { index = 0x2000, sub=1, size=16},
    { index = 0x2000, sub=2, size=16},
    { index = 0x2000, sub=3, size=16},
]

# ICM 20948 accels
[pdos.tpdo.1]
enabled = true
cob_id = 0x201
add_node_id = false
transmission_type = 254
mappings = [
    { index = 0x2002, sub=1, size=16},
    { index = 0x2002, sub=2, size=16},
    { index = 0x2002, sub=3, size=16},
]

# ICM20948 Heave
[pdos.tpdo.2]
enabled = true
cob_id = 0x202
add_node_id = false
transmission_type = 254
mappings = [
    { index = 0x2100, sub=0, size=16},
]

# ICM20948 Pitch/roll output
[pdos.tpdo.3]
enabled = true
cob_id = 0x203
add_node_id = false
transmission_type = 254
mappings = [
    { index = 0x2110, sub=1, size=16},
    { index = 0x2110, sub=2, size=16},
]

# CM7 Heave
[pdos.tpdo.4]
enabled = true
cob_id = 0x302
add_node_id = false
transmission_type = 254
mappings = [
    { index = 0x2180, sub=0, size=16},
]

# CM7 pitch/roll
[pdos.tpdo.5]
enabled = true
cob_id = 0x303
add_node_id = false
transmission_type = 254
mappings = [
    { index = 0x2190, sub=1, size=16},
    { index = 0x2190, sub=2, size=16},
]

# 16-bit gyro rates from ICM20948
[[objects]]
index = 0x2000
parameter_name = "ICM20948 Gyros (Range +/- 500 deg/s)"
object_type = "array"
data_type = "int16"
access_type = "ro"
array_size = 3
pdo_mapping = "tpdo"

# f32 gyro rates from ICM20948
[[objects]]
index = 0x2001
parameter_name = "ICM20948 Accels (rad/s)"
object_type = "array"
data_type = "real32"
access_type = "ro"
array_size = 3
pdo_mapping = "tpdo"

# 16-bit accels from ICM20948
[[objects]]
index = 0x2002
parameter_name = "ICM20948 Accels (Range +/- 4g)"
object_type = "array"
data_type = "int16"
access_type = "ro"
array_size = 3
pdo_mapping = "tpdo"

# f32 accels from ICM20948
[[objects]]
index = 0x2003
parameter_name = "ICM20948 Accels (g)"
object_type = "array"
data_type = "real32"
access_type = "ro"
array_size = 3
pdo_mapping = "tpdo"

# 16-bit magnetic field from ICM20948
# 0.15 µT/LSB
[[objects]]
index = 0x2004
parameter_name = "ICM20948 Mag (Range +/- 4915.2 uT)"
object_type = "array"
data_type = "int16"
access_type = "ro"
array_size = 3
pdo_mapping = "tpdo"

# f32 magnetic field from ICM20948
[[objects]]
index = 0x2005
parameter_name = "ICM20948 Mag (µT)"
object_type = "array"
data_type = "real32"
access_type = "ro"
array_size = 3
pdo_mapping = "tpdo"


# ICM20948 Gyro Offsets
# This value is subtracted from the gyro values
[[objects]]
index = 0x2010
parameter_name = "Rate offsets (rad/s)"
object_type = "array"
data_type = "int16"
access_type = "rw"
array_size = 3
persist = true
pdo_mapping = "tpdo"

# Gyro calibration control
# Bit 0 - Write to initiate a calibration. Cleared by device.
# Bit 1 - Calibration in progress
[[objects]]
index = 0x2011
parameter_name = "Gyro Calibration Control"
object_type = "var"
data_type = "uint8"
access_type = "rw"
pdo_mapping = "none"

# ICM20948 Accel Offsets
# This value is subtracted from the accel values
[[objects]]
index = 0x2020
parameter_name = "Accels offsets (8192 cnts/g)"
object_type = "array"
data_type = "int16"
access_type = "rw"
array_size = 3
persist = true
pdo_mapping = "tpdo"



# Heave fixed point
[[objects]]
index = 0x2100
parameter_name = "Heave (cm)"
object_type = "var"
data_type = "int16"
access_type = "ro"
pdo_mapping = "tpdo"

# heave floating point
[[objects]]
index = 0x2101
parameter_name = "Heave (m)"
object_type = "var"
data_type = "real32"
access_type = "ro"
pdo_mapping = "tpdo"

# Pitch Roll Fixed Point
[[objects]]
index = 0x2110
parameter_name = "ICM20948 Pitch and Roll (rad * 1e4)"
object_type = "record"
[[objects.subs]]
sub_index = 1
parameter_name = "Pitch (rad * 1e4)"
field_name = "pitch"
data_type = "int16"
access_type = "ro"
pdo_mapping = "tpdo"
[[objects.subs]]
sub_index = 2
parameter_name = "Roll (rad * 1e4)"
field_name= "roll"
data_type = "int16"
access_type = "ro"
pdo_mapping = "tpdo"

# Pitch Roll float
[[objects]]
index = 0x2111
parameter_name = "Pitch and Roll (rad)"
object_type = "record"
[[objects.subs]]
sub_index = 1
parameter_name = "Pitch (rad)"
field_name = "pitch"
data_type = "real32"
access_type = "ro"
pdo_mapping = "tpdo"
[[objects.subs]]
sub_index = 2
parameter_name = "Roll (rad)"
field_name= "roll"
data_type = "real32"
access_type = "ro"
pdo_mapping = "tpdo"

#
# CM7 IMU Data
# 

# Heave fixed point
[[objects]]
index = 0x2180
parameter_name = "Heave (cm)"
object_type = "var"
data_type = "int16"
access_type = "ro"
pdo_mapping = "tpdo"

# heave floating point
[[objects]]
index = 0x2181
parameter_name = "Heave (m)"
object_type = "var"
data_type = "real32"
access_type = "ro"
pdo_mapping = "tpdo"


# CM7 Pitch and Roll Fixed
[[objects]]
index = 0x2190
parameter_name = "CM7 Pitch and Roll (rad * 1e4)"
object_type = "record"
[[objects.subs]]
sub_index = 1
parameter_name = "Pitch (rad * 1e4)"
field_name = "pitch"
data_type = "int16"
access_type = "ro"
pdo_mapping = "tpdo"
[[objects.subs]]
sub_index = 2
parameter_name = "Roll (rad * 1e4)"
field_name= "roll"
data_type = "int16"
access_type = "ro"
pdo_mapping = "tpdo"

# Pitch Roll float
[[objects]]
index = 0x2191
parameter_name = "CM7 Pitch and Roll (rad)"
object_type = "record"
[[objects.subs]]
sub_index = 1
parameter_name = "CM7 Pitch (rad)"
field_name = "pitch"
data_type = "real32"
access_type = "ro"
pdo_mapping = "tpdo"
[[objects.subs]]
sub_index = 2
parameter_name = "CM7 Roll (rad)"
field_name= "roll"
data_type = "real32"
access_type = "ro"
pdo_mapping = "tpdo"

#
# Status
#

# NMEA Status Register
# Bit 0 - Boot-up value of the NMEA config switch
#
[[objects]]
index = 0x2200
parameter_name = "NMEA Status"
object_type = "record"
# Bit 0 - Set to boot-up value of the NMEA config switch
[[objects.subs]]
sub_index = 1
parameter_name = "NMEA Enabled"
field_name = "nmea_enabled"
data_type = "uint8"
access_type = "ro"
pdo_mapping = "none"
[[objects.subs]]
sub_index = 2
parameter_name = "Node Address"
field_name = "nmea_address"
data_type = "uint8"
access_type = "ro"
pdo_mapping = "none"


