[target.'cfg(all(target_arch = "arm", target_os = "none"))']
runner = "probe-rs run --log-format full --always-print-stacktrace --chip STM32G431CB --probe 0483:3748"

rustflags = [
  "-C", "linker=flip-link",
  "-C", "link-arg=-Tlink.x",
  "-C", "link-arg=-Tdefmt.x",
]

[build]
target = "thumbv7em-none-eabihf"
